NEXT_PUBLIC_UPLOAD_PRESET=blog-image
NEXT_PUBLIC_CLOUDINARY_API=https://api.cloudinary.com/v1_1/leno/image/upload/
NODE_ENV=dev
APP_URL=http://localhost:8080
ADMIN_EMAIL=lamdo9491@gmail.com
ADMIN_PASSWORD=123456789
NEXTAUTH_URL=http://localhost:8080
NOTION_API_OFFICIAL_KEYS=
NOTION_DATABASE_BASE_URI=https://api.notion.com/v1/databases
NOTION_BLOCK_BASE_URI=https://api.notion.com/v1/blocks
NOTION_PAGE_BASE_URI=https://api.notion.com/v1/pages
NOTION_BLOG_ID=
NOTION_RECEIPT_ID=
NOTION_PRONUNCIATION_ID=
NOTION_IMPROV_ID=
DATABASE_URL=
